pyspark==3.5.0 # Procesamiento distribuido y Big Data
pandas # Manipulación y análisis de datos estructurados
matplotlib # Librería base para visualización de datos estática
seaborn # Visualización estadística avanzada basada en Matplotlib
sqlalchemy # Toolkit SQL y ORM para facilitar la conexión a BBDD
psycopg2-binary # Adaptador de base de datos PostgreSQL para Python
jupyterlab # Entorno de desarrollo interactivo (IDE) web
plotly # Librería para gráficos interactivos y dinámicos
scikit-learn # Algoritmos de Machine Learning y minería de datos
graphviz # Renderizado de gráficos (útil para visualizar árboles, etc.)
streamlit # Framework para crear dashboards web interactivos y rápidos
linearmodels # Análisis econométrico de panel (Efectos Fijos/Aleatorios)
statsmodels # Modelos estadísticos y pruebas de hipótesis

